/* _lcid="1025" _version="14.0.6017"
    _LocalBinding */
img { 
   -ms-interpolation-mode:bicubic;
}
.ms-errorinl {
	FONT-SIZE: 8pt;   
	COLOR: #ff0000; 
	FONT-FAMILY: verdana, sans-serif; 
}
table.ms-unselectedhover, div.ms-unselectedhover {
    background-image: url("/_layouts/images/portaltabselected.gif");
}
table.ms-selectednohover, div.ms-selectednohover {
    background-image: url("/_layouts/images/menubuttonhover.gif");
}
table.ms-selectedhover, div.ms-selectedhover {
    background-image: url("/_layouts/images/portaltabselected.gif");
}
.ms-ptabarea, .ms-sctabarea {
	margin-top: 0px;
}
.ms-ptabcn, .ms-sctabcn {
    background: url("/_layouts/images/PortalTabSelected.gif");
    background-color: #CAE6F4;
    border-top: solid 1px #83b0ec;
    border-right: solid 1px #83b0ec;
    border-left: solid 1px #83b0ec;
    border-bottom: solid 1px #83b0ec; 
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
    font-size: 0.7em;  
    font-style: normal; 
    font-weight: normal; 
    padding-bottom: 2px; padding-top: 2px; padding-right: 10px; padding-left: 10px; color: #000000; vertical-align: middle;
}
.ms-ptabcnhover, .ms-sctabcnhover {
    background: url("/_layouts/images/PortalTabHover.gif");
    background-color: #fae8d4; 
    border-top: solid 1px #9e8255; 
    border-left: solid 1px #9e8255; 
    border-right: solid 1px #9e8255;
    border-bottom: solid 1px #6593cf; 
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
    font-size: 0.7em;  
    font-style: normal; 
    font-weight: normal; 
    padding-bottom: 2px; padding-top: 2px; padding-right: 10px; padding-left: 10px; color: #000000; vertical-align: middle;
}
.ms-ptabcn A:link, .ms-ptabcn A:visited,.ms-ptabcnhover A:link, .ms-ptabcnhover A:visited, .ms-sctabcn A:link, .ms-sctabcn A:visited,.ms-sctabcnhover A:link, .ms-sctabcnhover A:visited {
    text-decoration: none; 
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;   
    color: #000000; 
    font-style: normal; 
}
.ms-ptabcnhover A:hover, .ms-sctabcnhover A:hover {
    text-decoration: none; 
    font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif; 
    color: #000000; 
    font-style: normal; 
}
.ms-ptabcf {
    background: url("/_layouts/images/topnavdivider.gif");
    background-repeat: repeat-y;
    background-position : right; 
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #FFFFFF;
    border-bottom: solid 1px #6593cf;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;  
    font-size: 0.7em;   
    font-style: normal; 
    font-weight: normal; 
    padding-bottom: 2px; padding-top: 2px; padding-right: 10px; padding-left: 11px; color: #7f7f7f; vertical-align: middle;
}
.ms-ptabcfhover, .ms-sctabcfhover {
    background: url("/_layouts/images/PortalTabHover.gif");
    background-repeat: repeat-x;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;  
    font-size: 0.7em;   
    font-style: normal;  
    font-weight: normal; 
    padding-bottom: 2px; padding-top: 2px; padding-right: 10px; padding-left: 10px; 
    color: #7f7f7f; vertical-align: middle;
    background-color: #fae8d4; 
    border-top: solid 1px #9e8255; 
    border-left: solid 1px #9e8255; 
    border-right: solid 1px #9e8255;
    border-bottom: solid 1px #6593cf;
}
.ms-ptabcf A:link, .ms-ptabcf A:visited, .ms-ptabcfhover A:link, .ms-ptabcfhover A:visited, .ms-sctabcf A:link, .ms-sctabcf A:visited, .ms-sctabcfhover A:link, .ms-sctabcfhover A:visited {
    text-decoration: none; 
    color: #7f7f7f; 
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;  
    font-style: normal; 
}
.ms-ptabcfhover A:hover, .ms-sctabcfhover A:hover {
    text-decoration: none; 
    font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif; 
    color: #7f7f7f; 
    font-style: normal; 
}
.ms-ptabcfb {
    background-color: #FFFFFF;
}
.ms-ptabnt, .ms-sctabnt {
    padding-top: 3px;padding-right: 7px;padding-left: 0px;padding-bottom: 3px;
}
.ms-ptabnt A:link, .ms-ptabnt A:visited, .ms-sctabnt A:link, .ms-sctabnt A:visited {
    text-decoration: none; 
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;  
    color: #003399; 
    font-style: normal;  
    font-size: 8pt;  
}
.ms-ptabrx {
    width: 100%; background-color: #FFFFFF; border-color: #83b0ec; border-style: solid; border-top-width: 0px; border-left-width: 0px; border-bottom-width: 1px; border-right-width: 0px;
    font-family: Tahoma, Verdana, Arial, Helvetica;  
    font-size: 0.7em;  
    font-style: normal;  
    font-weight: normal; 
    padding-bottom: 2px; padding-top: 2px; padding-right: 4px; padding-left: 4px; color: #7f7f7f; vertical-align: middle; text-align: right;
}
.ms-sctabcf {
    border-bottom: solid 1px #97B4E9;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;   
    font-size: 0.7em; 
    font-style: normal;  
    font-weight: normal; 
    padding-bottom: 2px; padding-top: 2px; padding-right: 10px; padding-left: 11px; color: #7A7A7A; vertical-align: middle;
}
.ms-main .ms-sctabcf{
    border-top: solid 1px #d6e8ff;
    border-right: solid 1px #d6e8ff;
    border-bottom: solid 1px #97B4E9;
    border-left: none;
    background: url("/_layouts/images/topnavdivider.gif");    
    background-repeat: repeat-y;
}
.ms-sctabrx {
    	width: 100%; border-color: #97B4E9; border-style: solid; border-top-width: 0px; 
        border-left-width: 0px; border-bottom-width: 1px; border-right-width: 0px;
	font-family: Verdana, Arial, Helvetica;  
	font-size: 0.7em;  
	font-style: normal; 
	font-weight: normal; 
	padding-bottom: 2px; padding-top: 2px; padding-right: 4px; padding-left: 4px;                 color:#7A7A7A; vertical-align: middle; text-align: right;
}
.ms-sctabcnb {
    padding-bottom: 4px;
}
.ms-sctabcfb {
    padding-bottom: 4px;
}
.ms-articlepic {
    FLOAT: right; MARGIN-left: 8pt
}
.ms-articlepad {
    MARGIN-BOTTOM: 5px
}
.ms-articletext {
    FONT-SIZE: 8pt;  
    COLOR: #8c8c8c; 
    LINE-HEIGHT: 1.3em; 
    FONT-FAMILY: tahoma; 
}
.ms-kpirow {
    vertical-align: middle; 
    height: 25px;
}
.ms-MenuUILabelFont{
       FONT-SIZE: 66.67%;   
       FONT-FAMILY: Verdana, sans-serif;  
       text-decoration:none; 
}
table.ms-applyfilters {
 cursor:hand;
}
td.ms-applyfiltersbutton {
 align:right;
 border-style:solid;
 border-width:1px;
 border-bottom-width:0px
 border-right-color:#add1ff;
 border-left-color:#add1ff;
 border-top-color:#c2dcff;
 background-color:#9ac6ff;
 cursor:hand;
}
table.ms-applyfiltersinactive {
	text-align:center;
	height:20px;
	cursor:default;
	border-style:solid;
	border-spacing:0px;
	border-width:1px;
	border-color:#CCCCCC;
	border-radius:2px;
	border-collapse:separate !important;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	padding-top:1px;
	padding-bottom:2px;
	padding-right:8px;
	padding-left:8px;
	background-color:#F2F2F2;
	font-family:Tahoma; 
	font-size:7pt; 
	font-weight:bold; 
	color:#707070;
}
table.ms-applyfiltersactive {
	text-align:center;
	height:20px;
	cursor:pointer;
	border-style:solid;
	border-spacing:0px;
	border-width:1px;
	border-color:#FF9D00;
	border-radius: 2px;
	border-collapse:separate !important;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	padding-top:1px;
	padding-bottom:2px;
	padding-right:8px;
	padding-left:8px;
	background-color:#fdeeb3;
	font-family:Tahoma;	font-family:Tahoma; 
	font-size:7pt; 
	font-weight:bold; 
	color:#a30000;
}
table.ms-applyfiltershoverover {
	text-align:center;
	height:20px;
	cursor:pointer;
	border-style:solid;
	border-width:1px;
	border-color:#FF9D00;
	border-radius:2px;
	border-collapse:separate !important;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	padding-top:1px;
	padding-bottom:2px;
	padding-right:8px;
	padding-left:8px;;
	background-color:#FF9D00;
	font-family:Tahoma; 
	font-size:7pt; 
	font-weight:bold; 
	color:#FFFFFF;
}
.ms-identitypiecename
{
   margin-right:5px;
   font-size:1.2em; 
   width: 160px;
}
.ms-identitypiecetitle
{
   font-size:1em; 
   margin-right:22px;
}
.ms-identitypiecedept
{
   font-size:1em; 
   margin-right:22px;
}
.ms-identitypiecenote
{
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.ms-identitypiecenotediv
{
  margin-right:-45px;
  position:absolute;
}
.ms-identitypiecenotebig
{
  background: url("/_layouts/images/mossbgximg.png") repeat-x -0px -0px;
  height:20px;
  padding:8px 0px;
  width: 550px;
  position: absolute;
  right: 5px; 
}
.ms-identitypiecenotebig a
{
  width: 548px;	
}
.ms-identitypiecenotesmall
{
  background: url("/_layouts/images/mossbgximg.png") repeat-x -0px -36px;
  height:20px;
  padding:7px 0px;
  width: 146px;   
  position: absolute;
  right: 5px; 
}
.ms-identitypiecenotesmall a
{
  width: 144px;	
}
.ms-identitypiecenotelink
{
  border: 1px solid transparent;
  position: absolute;
  height: 18px;
}
.ms-identitypiecenoteindent
{
  padding: 0px 8px;
  vertical-align: middle;
}
.ms-identitypiecemenu
{
  width: 18px;
}
.ms-identitypieceimage
{
   margin: 31px auto 12px;
}
.ms-identitypiecenotehover
{
   border: 1px solid #B2B2B2;
}
.ms-identitypiecenotehoverdark
{
   border: 1px solid #959595;
}
.ms-identitypiecenote a:hover
{
  text-decoration: none; 
}
.ms-identitypieceselectbig
{
  width: 20px;
  right: 550px; 
  z-index: 1;
}
.ms-identitypieceselectsmall
{
  width: 20px;
  right: 146px; 
  z-index: 1;
}
.ms-identitypiecerightimagebig
{
  background: url("/_layouts/images/mossfgimg.png") no-repeat -0px -212px;
  right: 555px;  
  height:36px;
}
.ms-identitypiecerightimagesmall
{  
  background: url("/_layouts/images/mossfgimg.png") no-repeat -0px -248px;
  right: 151px; 
  height:32px;
}
.ms-identitypiecerightimagertlbig
{
  background: url("/_layouts/images/mossfgimg.png") no-repeat -0px -32px;
  right: 555px; 
  height:36px;
}
.ms-identitypiecerightimagertlsmall
{  
  background: url("/_layouts/images/mossfgimg.png") no-repeat -0px -68px;
  right: 151px; 
  height:32px;
}
.ms-identitypieceleftimagebig
{
  background: url("/_layouts/images/mossfgimg.png") no-repeat -0px -32px;
  height:36px; 
}
.ms-identitypieceleftimagesmall
{
  background: url("/_layouts/images/mossfgimg.png") no-repeat -0px -68px;
  height:32px;  
}
.ms-identitypieceleftimagertlbig
{
  background: url("/_layouts/images/mossfgimg.png") no-repeat -0px -212px;
  height:36px; 
}
.ms-identitypieceleftimagertlsmall
{
  background: url("/_layouts/images/mossfgimg.png") no-repeat -0px -248px;
  height:32px;  
}
.ms-identitypiecebottomimagebig
{
  background: url("/_layouts/images/mossfgimg.png") no-repeat -0px -0px;
  right: 7px;
  top: 35px; 
}
.ms-identitypiecebottomimagesmall
{
  background: url("/_layouts/images/mossfgimg.png") no-repeat -0px -16px;
  right: 11px;
  top: 31px; 
}
.ms-identitypiecebottomimagertlbig
{
  background-image:url(/_layouts/images/bottombubblebigrtl.png);
  right: 7px; 
  top: 35px; 
}
.ms-identitypiecebottomimagertlsmall
{
  background-image:url(/_layouts/images/bottombubblesmallrtl.png);  
  right: 11px; 
  top: 31px; 
}
.ms-edgebubble
{   
   display:inline-block;
   vertical-align:top;
   width:5px;
   position:absolute;
}
.ms-bottombubble
{   
   height:16px;
   width:15px;
   position:absolute;   
}
.ms-identitypiecenote input
{
  border: 0;
  font-family: Verdana,Arial,sans-serif; 
  font-size: 1em; 
  width:100%;
}
.ms-globalright {
   /* {L=!@RTLLangs@}{ValidString=@RTLLangs@;"left"} */
   float: right; 
}
.ms-sitedocs-mysiteviewer, .ms-sitedocs-mysiteviewer > tr td
{
  padding-right: 13px;
}
.ms-sitedocs-mysiteviewer .ms-WPTitle {
    color:#4c4c4c;
    font-family:tahoma,sans-serif; 
    font-size:10pt; 
    font-weight:bold; 
    padding:2px 3px 2px 7px;
}
.ms-sitedocs-mysiteviewer .ms-WPHeader td
{
    border-bottom:1px solid #0070C0;
}
.ms-trackertable td
{
  padding: 8px 0px;
}
.ms-trackerevent
{
  padding-right: 8px;
}
.ms-trackeralert 
{
   color: #F88017;
}
.ms-trackertime 
{
   /* [ReplaceColor(themeColor: "Dark2-Lighter")] */
   color : #C5C7C9;
}
.ms-wpendline {
   margin-bottom: 10px;
}
.ms-my-sharingCenter
{
  border-collapse:collapse;
  width:100%;
  margin-top:8px; 
}
.ms-my-sharingCenter .ms-iconCell, .ms-my-sharingCenter .ms-linkCell
{
  border-top:2px solid #e1e1e1;
  border-bottom:2px solid #e1e1e1;
  vertical-align:middle;
}
.ms-my-sharingCenter .ms-iconCell
{
  background-color:#f9f9f9;
  padding:2px 1px 2px 0px;
  width:1%; 
}
.ms-my-sharingCenter .ms-topCell
{
  background-color:#f9f9f9;
  padding:10px 4px;
  text-align:right;
}
.ms-my-sharingCenter .ms-bottomCell
{
  padding:6px 5px 6px 1px;
}
.ms-my-sharingCenter .ms-cellSpacing
{
  width:8px;
}
.ms-my-localTime
{
  color:#676767;
}
.ms-my-localTime .ms-title
{
  font-weight:bold; 
  text-transform:uppercase;
  color:#404040;
}
.ms-my-people
{
  width:100%;
  padding:2px 0px;
}
.ms-my-people .ms-item
{
  padding:2px;
  vertical-align:top;
}
.ms-my-people .ms-manageritem
{
  padding:5px;
  text-align:right;
  vertical-align:top;
}
.ms-my-freebusy
{
  color:#676767;
}
.ms-my-freebusy .ms-title
{
  font-weight:bold; 
  text-transform:uppercase;
  color:#404040;
}
.ms-my-profileDetails
{
  margin-top:1em;
}
.ms-my-profileDetails .ms-header
{
  font-weight:bold; 
  text-transform:uppercase;
  color:#404040;
}
.ms-my-profileDetails .ms-title
{
  width:110px;
  color:#676767;
}
.ms-profileeditor
{
  margin-right: 10px;
}
.ms-askmeaboutfooter {
  clear:both;
}
.ms-askmeabout-header {
  padding: 10px 0px;
}
.ms-askmeabout > span
{
  display: inline-block;
  width: 160px;
}
.ms-globalnav
{
  background-COLOR: #21374C;
  height: 40px;
  vertical-align: middle;
}
.ms-globalnavsearch
{
  float: right;
  width: 140px;
  padding: 7px 8px;
  margin-right: 4px;
}
.ms-globalnavmenu
{
  float: right;
}
.ms-globalnavicon
{
  float: right;
  font-size: 1.4em; 
  padding: 9px 10px 9px 9px;
}
.ms-globalnavicon A 
{
  color: #fff; 
}
.ms-globalnavicon A:hover 
{
  text-decoration: underline; 
}
.ms-globalnavtrc
{
  float: left;
  height: 40px;
}
.ms-globalnavhelp
{
  float: right;
  margin: 12px 0px;
}
.s4-mysitetn SPAN {
	DISPLAY: block;
}
.s4-mysitetn A {
	color: #fff;
}
.s4-mysitetn A > SPAN.additional-background {
	background: none;
        padding-bottom: 1px;
        margin: 0px 2px;
}
.s4-mysitetn A > SPAN.additional-background > SPAN.menu-item-text {
	background: none;
	padding: 12px 5px 14px 7px;
}
.s4-mysitetn A:hover {
	background: url(/_layouts/images/hover_border.png) no-repeat left center;	
}
.s4-mysitetn A:hover > SPAN.additional-background {
	background: url(/_layouts/images/hover_border.png) no-repeat right center !important;
}
.s4-mysitetn A:hover > SPAN.additional-background > SPAN.menu-item-text {
	background: url(/_layouts/images/hover_bg.png) no-repeat center top;
}
.s4-mysitetn A.selected, .s4-mysitetn A.selected:hover {
	background: url(/_layouts/images/selected_border.png) no-repeat left center;	
}
.s4-mysitetn A.selected > SPAN.additional-background, 
.s4-mysitetn A.selected:hover > SPAN.additional-background {
	background: url(/_layouts/images/selected_border.png) no-repeat right center !important;
}
.s4-mysitetn A.selected > SPAN.additional-background > SPAN.menu-item-text {
	color: #91cdf2; 
	background: none;
}
.s4-mysitetn A.selected:hover > SPAN.additional-background > SPAN.menu-item-text {
	background: url(/_layouts/images/hover_selected_bg.png) no-repeat center top;
}
.s4-mysitetn A.dynamic-children SPAN.additional-background 
{
        background: none;
}
.s4-mysitetn .menu ul.dynamic
{
  border: 1px solid;
  border-top-color: #a4aab4;
  border-right-color: #a4aab4;
  border-left-color: #7895ac;
  border-bottom-color: #7895ac;
  background-color: #ffffff;
}
.s4-mysitetn .menu a.dynamic
{
  color: #003759;
}
.s4-mysitetn .menu a.dynamic > span.additional-background > span.menu-item-text
{
  padding: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.s4-mysitetn A.dynamic:hover {
  background: none !important;	
}
.s4-mysitetn A.dynamic:hover > SPAN.additional-background {
  background: #ccebff url(/_layouts/images/selbg.png) repeat-x left top !important;
  border: 1px solid #91cdf2;
  border-top-color: #bde1f7;
  margin: 1px; 
}
.s4-mysitetn A.dynamic:hover > SPAN.additional-background > SPAN.menu-item-text {
  background: none !important;
  padding: 3px 5px;
}
.s4-mysitetn .menu-horizontal a.dynamic-children span.additional-background
{
  padding-left: 0px;
}
.ms-globalnav .ms-sbcell, .ms-globalnav .ms-sbcell input, 
.ms-globalnav .s4-search input, .ms-globalnav .srch-gosearchimg, 
.ms-globalnav td.ms-sbgo
{
  background: transparent;
  border-color: #B3C7DE !important;
  font-style: verdana; 
  font-size: 8pt; 
  color: #B3C7DE;
}
.ms-globalnav .srch-gosearchimg
{
  padding: 2px 2px 4px 2px!important;
  height: 13px;
}
.ms-globalnav input.ms-sbplain:focus
{
  color: white;
}
.ms-globalnav .s4-search table
{
  width: 120px;
}
.ms-globalnav .s4-search input.ms-sbplain
{
  width: 100px !important;
}
*:first-child + html[dir="rtl"] .ms-globalnavhelp
{
    float: left; 
}
*:first-child + html[dir="rtl"] .ms-globalnav .s4-trc-container-menu
{
    float: left; 
}
*:first-child + html[dir="rtl"] .ms-globalnavmenu
{
    width: 60%;
}
.ms-profileasseenby
{
  background: url(/_layouts/images/asSeenBy_bg.png) repeat-x left bottom;
  border: 1px solid #aaafbe; 
  border-top: none;
  color: #3b4652;
  vertical-align: middle;
  padding-right: 24px;
  line-height: 21px;     
} 
.ms-newsfeedheader
{
  font-size: 3em; 
  color: #0072BC;
  padding-top: 16px;
}
.ms-newsfeedheader2
{
  font-size: 1.3em; 
  padding-top: 4px;
}
.ms-newsfeedlinksection > div
{
  width: 30%;
  padding: 20px 0px 0px 14px;
  display: inline-block; 
  vertical-align: top; 
  float: right;
}
.ms-newsfeedlink
{
  font-size: 1.3em; 
  vertical-align: top;
}
.ms-newsfeedlinkdesc
{
  padding-top: 8px;
}
.ms-newsfeedheaderrow
{
  padding: 20px 0px 0px 0px;
  width: 100%;
  clear: both;
}
.ms-newsfeedheaderrow span
{
  font-size: 1.3em; 
  padding-left: 4px;
}
.ms-newsfeedeventrow
{
  padding: 14px 0px;
  width: 100%;
  display: table;
  border-bottom: 1px dashed #CCCCCC;
  clear: both;
}
.ms-newsfeedeventrow:hover
{
  background-color: #f5f5f5;
}
.ms-newsfeedeventrow:hover a
{
  color: #0068B4;
}
.ms-newsfeedeventimage
{
  float:right;
  padding-right: 16px;
}
.ms-newsfeedeventtext
{
  float:right;  
  padding-right: 10px;
  width: 80%;
}
.ms-newsfeedeventtext ol
{
  list-style: none;
  margin: 0;
  padding: 0;
}
.ms-newsfeedeventtime
{
  padding-right: 8px;
}
.ms-newsfeedeventspacer
{
  padding-top: 8px;
}
.ms-persondata
{
  padding-right: 10px;
}
.s4-wpcell-plain > table {
    padding-bottom: 20px;
}
.ms-wpsubheading
{
  padding-top: 5px;
  font-size: 1.3em!important; 
}
.ms-consolestatuscell {
    background-image: url("/_layouts/images/pageTitleBKGD.gif");
    background-repeat:repeat-x;
    background-position: top right; 
    background-color: #c2dcff;
    text-align:center; 
}
.ms-toolbar img {
    border:none;
    padding: 0 0;
    margin:0px;
}
.ms-toolbar a {
    padding: 0 0;
    margin:0px;
}
.ms-toolbarItem a {
    padding: 0 0 !important;
    margin:0px !important;
    text-align: right !important;
    font-weight:normal !important; 
}
.ms-toolbarContainer {
    font-family: verdana; 
    font-size: 8pt; 
    text-decoration: none; 
    color: #003399;
    background-image: url("/_layouts/images/toolgrad.gif");
    background-repeat: repeat-x;
    background-color: #d6e8ff;
    border: 1px solid #83b0ec;
    border-collapse:collapse;
    padding:2px;
    height:100%;
}
.ms-toolbarItem {
    float:right;
}
.ms-toolbarItem img {
    border:none !important;
    vertical-align:middle !important;
    padding:0px !important;
    float:right;
    margin: 2px 5px 5px 5px !important;
    *margin: 3px 5px !important;
    *margin-bottom: 100% !important;
}
.ms-toolbarItemLink {
    padding-top:4px !important;
    padding-left:4px !important;
    vertical-align: middle !important;
}
.ms-assetpicker-gotourl {
    padding-left: 25px;
}
.ms-assetpicker-gotourltext {
    FONT-SIZE: 8pt;   
    FONT-FAMILY: Tahoma, Verdana; 
    text-align:  left;
}
.ms-assetpicker-text {
    FONT-SIZE: 8pt;   
    FONT-FAMILY: Tahoma, Verdana; 
    padding-right: 12px;
    padding-left: 12px;
    text-align: right;
    vertical-align: top;
    padding-top: 5px; 
}
.ms-assetpicker-emptydatatext {
    FONT-SIZE: 8pt;   
    FONT-FAMILY: Tahoma, Verdana;  
    text-align: center;
    MARGIN: 5px;
    width: 100%;
}
.ms-assetpicker-titledescription {
    FONT-SIZE: 8pt;   
    COLOR: #666666;
    FONT-FAMILY: Tahoma, Verdana;  
    BACKGROUND-COLOR: #ECECEC;
}
.ms-assetpicker-main th {
    font-size: 8pt; 
    font-family: Verdana, sans-serif; 
    font-weight: normal; 
    text-align: right; 
    color: #000000;
}
.ms-assetpicker-main td, .ms-assetpicker-main {
font-size:8pt; 
}
.ms-assetitem-unselected {
    color: #00000;
    BACKGROUND-COLOR: #FFFFFF;
}
.ms-assetitem-selected {
    color: #00000;
    BACKGROUND-COLOR: #ffe6a0;
}
.ms-assetitem-thumbnail-unselected {
    BACKGROUND-COLOR: #FFFFFF;
    border: 1px solid #FFFFFF;
    TEXT-ALIGN: center;
    WIDTH: 155px;
    padding: 0px;
 }
.ms-assetitem-thumbnail-selected {
    BACKGROUND-COLOR: #ffe6a0;
    border: 1px solid #d2b47a;
    TEXT-ALIGN: center;
    WIDTH: 155px;
    padding: 0px;
}
.ms-assetitem-thumbnail-imagecell {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    WIDTH: 150px;
    HEIGHT: 150px;
    padding: 0px;
}
.ms-assetitem-thumbnail-imagecell DIV, .ms-assetitem-thumbnail-imagecell TD {
    TEXT-ALIGN: center;
    vertical-align: middle;
    overflow: hidden;
    WIDTH: 150px;
}
.ms-assetitem-thumbnail-infoline {
    WIDTH: 140px;
    overflow: hidden;
    text-align: center;
    TEXT-OVERFLOW: ellipsis;
    text-wrapping: nowrap;
    padding: 0px;
}
.ms-assetitem-thumbnail-infocell-unselected {
    text-align: center;
    background-color: #ffffff;
    overflow: hidden;
    HEIGHT: 3em;
    padding: 0px;
}
.ms-assetitem-thumbnail-infocell-selected {
    text-align: center;
    background-color: #ffe6a0;
    overflow: hidden;
    HEIGHT: 3em;
    padding: 0px;
}
.ms-assetpicker-header {
    FONT-SIZE: 8pt;  
    COLOR: #6593cf;
    FONT-FAMILY: Tahoma, Verdana;  
    BACKGROUND-COLOR: #f0f3f7;
    TEXT-ALIGN: right;
}
.ms-assetpicker-lookintable, .ms-assetpicker-lookintoplabelcell {
    FONT-FAMILY: Tahoma, Verdana;  
    TEXT-ALIGN: center;
}
.ms-assetpicker-lookintablecontainer, .ms-assetpicker-objectlistcontainer {
    COLOR: #000000;
}
.ms-assetpicker-lookintablecontainer {
    BACKGROUND-COLOR: #f2f8ff;
    WIDTH: 100px;
}
.ms-assetpicker-lookin-toplabel-table {
    BORDER-BOTTOM: #6f9dd9 1px solid;
    WIDTH: 100px;
    HEIGHT: 25px;
    BACKGROUND-COLOR: #d6e8ff;
}
.ms-assetpicker-lookin-toplabel-cell{
    BACKGROUND-COLOR: #d6e8ff;
    COLOR: #000000;
    font-weight: bold; 
    text-align: center;
}
.ms-assetitem-lookinlabel-infoline {
    WIDTH: 93px;
    overflow: hidden;
    text-align: center;
    TEXT-OVERFLOW: ellipsis;
    text-wrapping: nowrap;
}
.ms-assetpicker-lookintable A {
    COLOR: #000000;
    TEXT-DECORATION: none; 
}
.ms-assetpicker-lookintable A:link {
    COLOR: #000000;
    TEXT-DECORATION: none; 
}
.ms-assetpicker-lookintable A:visited {
    COLOR: #000000;
    TEXT-DECORATION: none; 
}
.ms-assetpicker-lookincell {
    HEIGHT: 100px;
}
.ms-assetpicker-lookincell-selected {
    BACKGROUND-COLOR: #FFFFFF;
    border: 1px solid #FFBC4B;
}
.ms-assetpicker-toolbar {
    FONT-SIZE: 8pt;  
    COLOR: #666666;
    FONT-FAMILY: Tahoma, Verdana;  
}
.ms-assetpicker-imagebutton {
    vertical-align: top;
}
.ms-selectorlink a, .ms-selectorlink a:visited {
    color:#003399 !important;
    text-decoration: none !important; 
    FONT-FAMILY: Tahoma, Verdana !important;  
    font-weight:normal !important; 
}
.ms-selectorlink a:hover, .ms-selectorlink a:active {
    color:#000000 !important;
    text-decoration: underline !important; 
    font-weight:normal !important; 
}
.ms-selectorlinkdis img {
    filter: alpha(opacity=25) !important;
}
.ms-selectorlinkdis a , .ms-selectorlinkdis a:visited, .ms-selectorlinkdis a:hover, .ms-selectorlinkdis a:active{
    color: #C0C0C0 ! important;
    cursor: default ! important;
}
.ms-assetpicker-untiled {
    font-size: 8pt; 
    font-family: Verdana, sans-serif; 
    font-weight: normal; 
    text-align: right; 
    color: #000000;
    border: none;
    width: 100%;
}
.ms-assetpicker-keyfiltersheader {
	width: 100%;
	white-space: nowrap;
}
.ms-assetpicker-tiled {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}
.ms-assetpicker-tiled li {
    margin: 1 1 1 1;
    padding: 1 1 1 1;
    float: right;
    display: inline-block;
    border: 1px solid transparent;
}
.ms-assetpicker-tiled li div {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: center;
    position: relative;
}
.ms-assetpicker-tiled li div img {
    right: 0;
    margin-top: 0;
    margin-bottom: 0;  
    margin-right: 0;
    margin-left: 0;
    position: absolute;    
    vertical-align: middle;
}
.ms-assetpicker-tiled-smallthumbs {
    HEIGHT: 80px;
    width: 80px;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
.ms-assetpicker-tiled-mediumthumbs {
    HEIGHT: 100px;
    width: 100px;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
.ms-assetpicker-tiled-largethumbs {
    HEIGHT: 250px;
    width: 250px;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
.ms-assetpicker-tiled-selected * {
    background: #ffe6a0;
}
.ms-assetpicker-tiled-propscontainer-side {
    float: right;
    text-align: right;
    text-overflow: ellipsis;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    padding: 50px 0px 0px 0px;
}
.ms-assetpicker-tiled-propscontainer-below {
    text-align: center;
    text-overflow: ellipsis;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    padding: 0px 0px 0px 0px;
}
.ms-assetpicker-tiled-smallprops {
     width: 80px;
     overflow: hidden;
     text-overflow: ellipsis;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     font-size: 8pt; 
     white-space: nowrap;
}
.ms-assetpicker-tiled-mediumprops {
     width: 100px;
     overflow: hidden;
     text-overflow: ellipsis;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     white-space: nowrap;
}
.ms-assetpicker-tiled-largeprops {
     width: 250px;
     overflow: hidden;
     text-overflow: ellipsis;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     white-space: nowrap;
}
.ms-assetpicker-clearfloats {  
      clear: both;
}
.ms-assetpicker-hide {
     display: none;
}
.ms-assetpicker-specialreport {
    border-bottom: 10px;
    font-size: 8pt; 
    font-family: Verdana, sans-serif; 
    font-weight: normal; 
    text-align: right; 
    border:#6f9dd9 2px solid;
    color: red;
}
.ms-assetpicker-specialreport li {
   list-style-image: url(/_layouts/images/errlg.gif);
}
.ms-assetpicker-popup {
   padding: 5px;
   margin: 2px;
   background: #F6F8FD;
   border: 1px solid #29AAE2;
   width: 380px;
   overflow-x: hidden;
   overflow-y: hidden;
}
.ms-assetpicker-popup-download {
   padding: 5px;
   margin: 2px;
   background: #F6F8FD;
   border: 1px solid #29AAE2;
   width: 325px;
   height: 325px;
}
.ms-assetpicker-popup-actions {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 20px;
}
.ms-assetpicker-popup-actions li {
    FONT-SIZE: 8pt;   
    FONT-FAMILY: Tahoma, Verdana;  
    list-style: none;
    text-align: center;
    margin: 0px;
    width: 32%;
    display: inline;
    zoom: 1;
}
.ms-assetpicker-popup-image-container {
   padding: 5px;
   border: 1px solid #ABA6A6;
   text-align: center;
   vertical-align: middle;
   background-color: #FFFFFF;
   margin-right: auto;
   margin-left: auto;
}
.ms-assetpicker-popup-table-container {
   overflow:auto;
}
.ms-assetpicker-popup-table {
   clear: both;
   display: table;
   FONT-SIZE: 8pt;   
   FONT-FAMILY: Tahoma, Verdana;  
   padding: 5px 5px 5px 5px;
   margin: auto;
   border: 0px none #FFFFFF;
   color: #686868;
   border-collapse: separate;
   border-spacing: 5px 0px;
   width: 100%;
}
.ms-assetpicker-popup-propname {
  display: table-cell;
  width: 40%;
  vertical-align: top;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.ms-assetpicker-popup-propvalue {
  display: table-cell;
  width: 60%;
  border: none;
}
.ms-assetpicker-popup-tablerow {
  display: table-row;
}
.ms-cmstopnav-dynamicmenu {
    borderwidth: 1px; 
    bordercolor: #a5a5a5;
}
.ms-cmstopnav-dynamicmenuitem{
	font-size: 8pt; 
	ForeColor: #204d89;
	BackColor: #ebf3ff;
	HorizontalPadding: 9;
	VerticalPadding: 4;
}
.psrch-PopupContainer img
{
border: 0px;
}
.psrch-PopupContainer #LinkText
{
vertical-align: top;
}
.psrch-Main #tablist
{
margin: 2px 0;
padding: 3px 0;
margin-right: 0;
border-bottom: 1px solid #778;
font: bold 12px Verdana, sans-serif;
}
.psrch-Main #tablist li
{
list-style: none;
margin: 0;
display: inline;
}
.psrch-Main #tablist li a
{
padding: 3px 0.5em;
margin-right: 3px;
border: 1px solid #778;
border-bottom: none;
background: #DDE;
text-decoration: none; 
}
.psrch-Main #tablist li a:link { color: #448; }
.psrch-Main #tablist li a:visited { color: #667; }
.psrch-Main #tablist li a:hover
{
color: #000;
background: #AAE;
border-color: #227;
}
.psrch-Main #tablist li a#selected
{
background: white;
border-bottom: 1px solid white;
}
.psrch-UpdateGraphicsContainer
{
width: 500px;
height: 200px;
position:absolute;
top:0px;
right:0px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
z-index: 100;
background-color: white;
}
.psrch-UpdateGraphics
{
position:relative;
vertical-align: middle;
align: center;
top:67px;
right:217px;
}
.psrch-PopupPanel
{
background-color:White;
position:absolute;
visibility:hidden;
overflow:hidden;
width:502px;
height:202px;
}
.psrch-PopupContainer
{
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
width: 500px;
height: 200px;
}
.psrch-Main
{
margin: 0;
padding: 0;
}
.psrch-SingleResult
{
margin: 0px 0px 10px 0px;
padding: 5px 8px 8px 8px;
line-height: 150%;
}
.psrch-SingleResultAltBG
{
background-color: #f9f9f9;
}
.psrch-Main #ProImgCol
{
float: right;
margin: 3px 0 0 0;
padding: 0;
width: 54px;
}
.psrch-Main #FloatWrapper
{
margin: 0 59px 0 0;
padding: 0;
}
.psrch-Main #PropCol1
{
float: right;
margin: 0;
padding: 0;
width:50%;
}
.psrch-Main #PropCol2
{
float: left;
margin: 0;
padding: 0;
width:50%;
}
.psrch-Main #Clear
{
margin: 0;
padding: 0;
border: 0;
width: 0;
height: 0;
clear: both;
}
.psrch-Main #ProfileImg
{
table-layout:fixed;
border:1px solid #bcbcbc;
background-color:#ececec;
padding: 2px;
width:54px;
height:54px;
}
.psrch-Main #JBeanCol
{
float: right;
margin: 3px 0 0 0;
padding: 0;
width: 12px;
}
.psrch-Main #PropCol1Content
{
margin: 0 16px 0 6px;
padding: 0;
}
.psrch-Field
{
margin: 0;
padding: 0;
}
.psrch-Main #PropCol2Content
{
margin: 0 6px 0 0;
padding: 0;
}
.psrch-Main #IconCol
{
float: right;
margin: 3px 0 0 0;
padding: 0;
width: 13px;
}
.psrch-Main #ContentCol
{
margin: 0 17px 0 0;
padding: 0;
}
.psrch-Main #ContentGrid
{
margin: 0;
padding: 0;
border: 0;
border-collapse: collapse;
vertical-align: text-top;
}
.psrch-Main #ContentGrid td
{
vertical-align: top;
}
.psrch-Main #FieldName
{
white-space: nowrap;
padding: 0 0 0 10px;
}
.psrch-Main #FieldValue
{
padding: 0;
}
.psrch-Main #Footer
{
margin: 5px 0 0 0;
padding: 5px 16px 5px 16px;
border: 1px solid #b7e4f7;
}
.psrch-Main #HHSummary
{
padding: 5px 17px 5px 17px;
}
.psrch-Main #FooterCol1
{
float: right;
margin: 0;
padding: 0;
width:50%;
}
.psrch-Main #FooterCol2
{
float: left;
margin: 0;
padding: 0;
width:50%;
}
.psrch-Main #Footer ul
{
margin: 0;
padding: 0 20px 0 0;
}
.psrch-Main #Footer li
{
padding: 0;
}
.psrch-Main #FooterCol1 span
{
font-weight: bold; 
}
.psrch-Main #Multivalue
{
text-decoration: underline 
}
.ms-profilelabel {
  text-align: right;
  font-family: Tahoma, verdana;  
  font-size: .7em;  
  padding-top: 0px;
  padding-left:3px;
  padding-right:3px;
  padding-bottom: 2px;
  color: #525252;
}
.ms-profilevalue {
  color: #4c4c4c;
}
.ms-profilevalue a:link, .ms-profilevalue  a:visited { 
  color: #003399;
  text-decoration: none; 
}
.ms-profilevalue A:hover {
  color: #ff0000;
  text-decoration: underline; 
}
.ms-profilevaluelarge {
  font-size: 0.9em;  
}
.ms-profilevaluehierarchy {
  color: #0070c0;
}
.ms-profilehierarchysectionheader {
  color: #345d7e;
  font-family: Tahoma, Verdana; 
  font-size:9pt; 
  font-weight:bold; 
}
.ms-profiledescription {
  text-align: right;
  font-family: Tahoma, verdana;  
  font-size: 8pt;  
  color: #666666;
}
.ms-profilebody {
  background-color: #FFFFFF;
  font-family: Tahoma, verdana;  
  font-size: 1.0em;  
}
.ms-profileheader {
  color: #666666;
}
.ms-profilesection {
  color: #083772;
}
.ms-orgme {
  background-color: #f8fcff;
  border: 1px solid #91cdf2;  
}
.ms-orgname
{
  color: #8c8c8c;
  padding: 4px 3px;
  vertical-align: top;
  margin-right: 5px;
}
.ms-highlight {
    border-color: #bdbdbd; 
    border-style: solid; 
    border-top-width: 1px; 
    border-left-width: 1px; 
    border-bottom-width: 1px; 
    border-right-width: 1px;
}
.ms-ptable1 {
  background-color : #f5f5f5;
  border: 1px solid #e0e0e0;
  padding-top:10px;
  padding-bottom: 15px;
  padding-right: 12px;
  padding-left: 12px;
}
.ms-ptable2 {
  border:1px solid #ececec;
  padding-top:12px;
  padding-bottom: 15px;
  padding-right: 4px;
  padding-left: 4px;
}
.ms-menubuttonselectbackground {
  background-image: url("/_layouts/images/topnavover.gif");
}
.ms-reusableTextView {
    background-color: #e0e0e0;
    opacity: .55;
    filter: alpha(opacity=55);
    -moz-opacity: 0.55;
    border:1px solid #000000;
}
.ms-reusableTextListItemRowHighlighted {
    background-color: #FEE197;
}
.ms-reusableTextListItemRowSelected {
    background-color: #00224d;
}
.ms-reusableTextListItemLeftCell {
    border-top: solid 1px #FAFAFA;
    border-right: solid 1px #FAFAFA;
    border-bottom: solid 1px #FAFAFA;
}
.ms-reusableTextListItemMiddleCell {
    border-top: solid 1px #FAFAFA;
    border-bottom: solid 1px #FAFAFA;
}
.ms-reusableTextListItemRightCell {
    border-top: solid 1px #FAFAFA;
    border-left: solid 1px #FAFAFA;
    border-bottom: solid 1px #FAFAFA;
}
.ms-reusableTextListItemLeftCellSelected {
    border-top: solid 1px #2254B1;
    border-right: solid 1px #2254B1;
    border-bottom: solid 1px #2254B1;
}
.ms-reusableTextListItemMiddleCellSelected {
    border-top: solid 1px #2254B1;
    border-bottom: solid 1px #2254B1;
}
.ms-reusableTextListItemRightCellSelected {
    border-top: solid 1px #2254B1;
    border-left: solid 1px #2254B1;
    border-bottom: solid 1px #2254B1;
}
.groupHide {
    display:none;
}
.groupShow {
    display:;
}
.srch-SocDistTitle {
    margin-bottom:5px;  
    font-family: tahoma;  
    FONT-SIZE: 1.2em;  
    font-weight:bold; 
    color:#333333;
    BORDER-BOTTOM: #d6e8ff 1px solid;
    Width: 100%;
    padding-bottom: 2px;
}
.psrch-Description {
    margin-right: 0;
    COLOR: #333333; 
    FONT-FAMILY: Tahoma;  
    FONT-SIZE: 1.0em;  
    padding-bottom: 2px;
}
.psrch-Description b {
    font-weight:bold; 
    COLOR: #333333;
}
.psrch-PropLabel {
    COLOR: #333333; 
    FONT-FAMILY: Tahoma;  
    FONT-SIZE: 1.0em;  
}
.psrch-PropValue {
    COLOR: #008800; 
    FONT-FAMILY: Tahoma;  
    FONT-SIZE: 1.0em;  
}
.psrch-Title {
    FONT-SIZE: 1.2em;  
    FONT-FAMILY: Tahoma; 
}
.psrch-Title A:link, .psrch-Title A:visited{
    text-decoration:none; 
    color:#003399;
    padding-right: 4px;
    FONT-FAMILY: Tahoma; 
}
.psrch-Title a:hover{
    text-decoration:underline; 
    color: #FF0000;
}
.psrch-Metadata {
    FONT-SIZE: 1.0em;  
    MARGIN: 0px 0px 25px; COLOR: #333333;     
    FONT-FAMILY: Tahoma; 
}
.psrch-Action A:link, .psrch-Action A:visited {    
    COLOR: #003399;
}
.psrch-profimg
{
    table-layout:fixed;
    border:1px solid #e0ded5;
    background-color:#ececec;
}
.psrch-result
{
    padding-bottom: 16px;
}
.psrch-propcell
{
    padding-right: 8px;
}
.psrch-Icon {
    margin-right:10;
    FLOAT: right;
    POSITION: relative; 
    TOP: 2px
}
.ms-reftitle {
     COLOR: #333333;
     FONT-FAMILY: Tahoma;  
     font-weight: bold; 
     font-size: 9pt;  
     padding-top: 1px;
     width: 200px;
}
.ms-refsubtitle {
    COLOR: #333333;
    FONT-FAMILY: Tahoma;  
    font-size: 8pt; 
}
.ms-refitem {
    FONT-SIZE: 8pt;  
    COLOR: #003399; 
    FONT-FAMILY: Tahoma;      
}
td.ms-refsubtitle, td.ms-refitem {
     padding-top: 3px;
     padding-right: 3px;
}
td.ms-reftoggle {
     padding-top: 3px;
     padding-right: 3px;
     padding-bottom: 7px;
}
.ms-refitem A:link, .ms-refitem A:visited {
    COLOR: #003399;
    text-decoration:none; 
    padding-bottom: 2px;
    FONT-FAMILY: Tahoma;  
    font-size: 8pt;  
}
.ms-refitem A:hover, .ms-reftoggle A:hover {
    COLOR: #000000;
    text-decoration:underline; 
}
.ms-reftoggle {
    COLOR:  #003399;
    FONT-FAMILY: Tahoma;  
    font-size: 8pt;  
}
.ms-reftoggle  A:link, .ms-reftoggle A:visited {
    COLOR:  #003399;
    text-decoration:none; 
    padding-top: 0px;
    margin-top: 0px;
    FONT-FAMILY: Tahoma;  
    font-size: 8pt;  
}
.srchctr_leftcell
{
    vertical-align: top;
    width: 10px;
}
.srchctr_mainleftcell
{
    vertical-align: top;
    width: 70%;
}
.srchctr_rightcell
{
    vertical-align: top;
    width: 25%;
}
.srch-refinearea{
    min-height: 300px;
}
.ms-searchref-taxapply {
    align: left;
    border: 1px solid gray;
}
.ms-searchref-main {
    width: 175px;
    height: 100%;
    font-size: 1em; 
    font-family: verdana, tahoma, sans-serif !important;  
    padding: 7px 0 5px;
    margin: 0;
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_LIGHT2) background-color: #fcfcfc;
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_LIGHT2_LIGHTEST) border: 1px solid #dbddde;
    border-width: 0 0 1px;
    V4_THEMING_RECOLOR_IMAGE(V4_THEMING_COLOR_LIGHT2_LIGHTER) background-image: url("/_layouts/images/vertical_refinement_gradient.png");	
    background-repeat: repeat-y;
    background-position: left;
}
.ms-searchref-caption {
    padding: 10px 10px 8px 0;
    vertical-align: middle;
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_DARK1) color: #000 !important;
}
ul.ms-searchref-filters {
    list-style-type: none;
    margin: 0;
    padding-right: 0;
    height: 100%;
}
.ms-searchref-categoryname {
    padding: 1px 11px 7px 3px;
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_DARK2) COLOR: #3b4f65;
    font-size: 1.1em; 
    height: 10px;
}
.ms-searchref-catseparator {
    height: 25px;
}
li.ms-searchref-filter, li.ms-searchref-filtermsg {
    padding: 4px 5px 4px 20px;
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_ACCENT1) color: #0072bc;
    margin: 1px 6px 1px 0;
}
li.ms-searchref-selected, li.ms-searchref-filtermsg {
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_LIGHT1) background:#fff;
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_LIGHT2_LIGHTEST) border-top: #dbddde 1px solid;
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_LIGHT2_LIGHTEST) border-bottom: #dbddde 1px solid;
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_LIGHT2_LIGHTEST) border-right: #dbddde 1px solid;
}
.ms-searchref-indenticon {
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_ACCENT1) color: #8c8c8c;
}
.ms-searchref-subsite {
    margin-right: 10px !important;
}
.ms-searchref-filterlink {
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_ACCENT1) color: #0072bc !important;
    text-decoration: none !important; 
}
.ms-searchref-filterlink:hover {
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_ACCENT1_DARKER) color: #44aff6 !important;
    text-decoration: underline !important; 
}
.ms-searchref-count {
    font-size: 0.9em; 
    color: #87b4d0 !important;
}
.ms-searchref-more {
    V4_THEMING_REPLACE_COLOR_THEME(V4_THEMING_COLOR_ACCENT1) color: #0072bc !important;
    text-align: right; 
    text-decoration: none !important; 
}
.ms-searchref-morelink {
    padding: 5px 12px 3px 0;
}
.ms-searchref-moreicon {
    border: 0;
    vertical-align: middle;
}
.srch-HighConfidence{
    background-color:#f7f3cd;
}
.srch-HCMain{
    border-bottom: 1px solid #6F9DD9;
    margin:5px 0px 10px;
    padding:0px;
    width:100%;
}
.srch-BestBets{
    width:100%; 
}
div.srch-BB-Result
{
    width: 100%;
    padding-bottom:10px;
}
div.srch-BestBetsWPTitle
{
    background: url("/_layouts/images/checkmark.gif");
    background-repeat: no-repeat;
    background-position : top right; 
    position: relative;
    padding-bottom: 10px;
}
span.srch-BestBetsWPTitle
{
    FONT-SIZE: 1.2em; 
    FONT-FAMILY: Tahoma; 
    color: #525252;
    font-weight: bold; 
    padding-right: 20px;
}
div.srch-BestBetsBottom
{
    border-bottom: solid 1px #6F9DD9;
    margin-top: 5px;
    margin-bottom: 5px;
}
span.srch-BB-URL {
    width: 100%;
    MARGIN: 0px 2px 4px 0px;
}
.srch-BB-URL A:link, .srch-BB-URL A:visited {    
    COLOR: #008800 !important;
}
.srch-BB-URL a:hover {
    color: #FF0000;
}
.srch-BestBetsTitle {
    FONT-SIZE: 1.2em;  
    MARGIN: 0px 0px 4px; color:#003399; 
    FONT-FAMILY: Tahoma; 
}
.srch-BestBetsTitle A:link, .srch-BestBetsTitle A:visited{
   text-decoration:none; 
   color:#003399;
}
.srch-BestBetsTitle a:hover{
    color: #FF0000;
}
span.srch-BestBetsTitle img{
    margin-left: 4px;
    vertical-align: middle;
}
.srch-BB-Description {
    FONT-SIZE: 1.0em;  
    MARGIN: 0px 2px 4px 0px; COLOR: #333333; 
    FONT-FAMILY: Tahoma; 
    width: 100%;
}
.srch-BB-Description b {
    font-weight:bold; 
    COLOR: #333333;
}
div.srch-BB-SpecialTerm {
    FONT-SIZE: 1.0em !important;  
    COLOR: #333333 !important; 
    FONT-FAMILY: Tahoma !important; 
    width:100%; 
    padding-bottom: 10px;
}
div.srch-BB-SpecialTerm div {
    FONT-SIZE: 1.0em !important;   
    COLOR: #333333 !important; 
    FONT-FAMILY: Tahoma !important; 
}
span.srch-BB-SpecialTerm {
    MARGIN: 0px 0px 4px;    
}
span.srch-BB-SpecialTerm img {
    margin-left: 4px;
    vertical-align: middle;
}
.srch-BB-SpecialTerm b {
    FONT-SIZE: 1.2em;  
    font-weight:bold; 
    COLOR: #333333;
}
.srch-InputText{
    margin:0px;
    font-family: tahoma, verdana;  
    font-size:10pt;  
    color:#666666;
}
td.srch-optionsLinkDiv {
    border: none !important;
    padding: 0px !important;
}
td.srch-options {
    border: none !important;
    padding: 3px !important;
}
.srch-options input
{
    border:solid 1px #a5a5a5;
}
.srch-options {
    background-color: #d6e8ff;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;  
    color: #000000; 
    font-style: normal;  
    font-size: 8pt;  
}
.srch-optionsts {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;  
    color: #000000; font-style: normal;  
    font-size: 8pt;  
}
.srch-groupbar { 
    color: #000000;
    background-color: #ebf3ff;
}
.leftnavPic {
    background-image: url("/_layouts/images/portraitbackground.gif");
    background-repeat:repeat-x;
    border:solid 1px #8ebbf5;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align:middle;
background-color: #ebf3ff;
}
.incommonbody {
	background-color: #ebf3ff;
}
.ms-navitem a:hover {
	color:#000000
	text-decoration:underline; 
}
.ms-navitem a:visited {
	color:#3966bf;
	text-decoration: none; 
}
.ms-navitem a:active {
	color:#000000
	text-decoration:underline; 
}
.ms-navitem a {
	color:#003399
	text-decoration:none; 
}
td.ms-vb {
    font-size: 8pt; 
    font-family: tahoma, verdana, arial, helvetica, sans-serif; 
}
th.ms-vh {
    font-size: 8pt; 
    font-family: tahoma, verdana, arial, helvetica, sans-serif; 
    text-decoration: none; 
    vertical-align: top; 
}
.ms-vb a:visited {
	color:#3966bf;
	text-decoration: none; 
}
.ms-vb a:hover {
	color:#000000
	text-decoration:underline; 
}
.ms-vb a:active {
	color:#000000
	text-decoration:underline; 
}
.ms-vb a {
	color:#003399
	text-decoration:none; 
}
.ms-addnew a:visited {
	color:#3966bf;
	text-decoration: none; 
}
.ms-addnew a:hover {
	color:#000000
	text-decoration:underline; 
}
.ms-addnew a:active {
	color:#000000
	text-decoration:underline; 
}
.ms-addnew a {
	color:#003399;
	text-decoration:none; 
}
.ms-WPBody a:visited {
	color:#3966bf;
	text-decoration: none; 
}
.ms-WPBody a:hover {
	color:#000000
	text-decoration:underline; 
}
.ms-WPBody a:active {
	color:#000000
	text-decoration:underline; 
}
.ms-WPBody a {
	color:#003399
	text-decoration:none; 
}
.ms-qrblinks a:visited {
	color:#3966bf;
	text-decoration: none; 
}
.ms-qrblinks a:active {
	color:#000000
	text-decoration:underline; 
}
.ms-qrblinks a {
	color:#003399
	text-decoration:none; 
}
.ms-qrblinks a:hover {
	color:#000000
	text-decoration:underline; 
}
.ms-profilebody a:visited {
	color:#3966bf;
	text-decoration: none; 
}
.ms-profilebody a:active {
	color:#000000
	text-decoration:underline; 
}
.ms-profilebody a {
	color:#003399
	text-decoration:none; 
}
.ms-profilebody a:hover {
	color:#000000
	text-decoration:underline; 
}
.ms-WPHeader a:visited {
	color:#3966bf;
	text-decoration: none;  
}
.ms-WPHeader a:active {
	color:#000000
	text-decoration:underline; 
}
.ms-WPHeader a {
	color:#003399
	text-decoration:none; 
}
.ms-WPHeader a:hover {
	color:#000000
	text-decoration:underline; 
}
.stopSuggestingLink {
	color: #4e7cb7;
}
.ms-miniconsole {
    position:relative;
    top:2px;
    right:0px;
}
.ms-miniconsoleEdit {
    position:relative;
    top:-11px;
    right:auto;
    left:4px;
}
.ms-pagedescription {
    font-family: tahoma, Verdana, Arial, Helvetica; 
    font-weight: normal; 
    font-size: 8pt; 
    color: #000000;
}
.ms-sitedirresultssort {
  font-family: tahoma, Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8pt; 
  font-weight: normal; 
  color: #517acc;
  padding-bottom: 4px;
}
.ms-sitedirresultssort a:link, .ms-sitedirresultssort a:visited {
  padding-left: 4px;
  padding-right: 4px;
  font-family: tahoma, Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8pt;
  font-weight: normal; 
  color: #517acc;
}
.ms-sitedirresultssort span {
  font-family: tahoma, Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8pt; 
  font-weight: normal; 
  color: #727272;
}
.ms-sitedirresultssort a:hover {
  padding-left: 4px;
  padding-right: 4px;
  text-decoration: underline; 
  color: #000000;
}
.ms-sitedirresultspaging {
  background: #ebf3ff;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
}
.ms-sitedirresultspaging a:link, .ms-sitedirresultspaging a:visited,  .ms-sitedirresultspaging span {
  padding-left: 4px;
}
.ms-sitedirresultsbody {
  font-family: tahoma, Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8pt; 
  font-weight: normal; 
  padding-right: 4px;
}
.ms-sitedirresultstitle {
  padding-bottom: 2px;
  padding-top: 2px;
}
.ms-sitedirresultstitle a:link, .ms-sitedirresultstitle a:visited {
  font-family: tahoma, Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8.5pt; 
  font-weight: normal; 
  color: #517acc;
}
.ms-sitedirresultstitle a:hover {
  font-family: tahoma, Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8.5pt; 
  font-weight: normal; 
  color: #000000;
  text-decoration:underline 
}
.ms-sitedirresultsdescription {
  padding-bottom: 2px;
}
.ms-sitedirresultsdescription span {
  font-family: tahoma, Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8pt; 
  font-weight: normal; 
  color: #727272;
}
.ms-sitedirresultsurl {
  padding-bottom: 6px;
}
.ms-sitedirresultsurl a:link, .ms-sitedirresultsurl a:visited {
  font-family: tahoma, Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8pt; 
  font-weight: normal; 
  color: #517acc;
}
.ms-sitedirresultsurl a:hover {
  font-family: tahoma, Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8pt;
  font-weight: normal; 
  color: #000000;
  text-decoration:underline 
}
.ms-colleaguereminder {
    background-color: #ebf3ff;
}
.ms-managesection {
    color: Navy;
    font-weight: bold; 
}
.ms-viewModeContentArea {
    font-family:tahoma; 
    font-weight:normal; 
    font-size:8pt; 
}
.required { 
    color: #FF0000;
}
.ms-suggestalt {
    background-color: #f2f8ff;
}
.ms-srchAlignTop {
    padding-top: 0px;
    padding-bottom: 0px;
}
td.ms-advsrchText {
    font-size: 8pt;  
    font-family: tahoma, verdana, arial, helvetica, sans-serif; 
    padding-left: 4px;
}
select.ms-advsrchPropertyDDL {
    font-size: 8pt;  
    font-family: tahoma, verdana, arial, helvetica, sans-serif; 
    width: 160px; 
    height: 20px; 
}
select.ms-advsrchOperatorDDL {
    font-size: 8pt;  
    font-family: tahoma, verdana, arial, helvetica, sans-serif; 
    width: 130px; 
    height: 20px; 
}
.ms-advsrchPropValue {
    font-size: 8pt;  
    font-family: tahoma, verdana, arial, helvetica, sans-serif; 
    width: 150px; 
    height: 20px;
}
select.ms-advsrchAndOrDDL {
    font-size: 8pt;  
    font-family: tahoma, verdana, arial, helvetica, sans-serif; 
    height: 20px; 
}
td.ms-advsrchHeadingText {
   font-size: 8pt;  
   font-family: tahoma, verdana, arial, helvetica, sans-serif; 
   font-weight: bold; 
   background-color:#f5f5f5;
   padding-top: 5px;
   padding-bottom: 5px;
}
.ms-redirectControl {
   color: #5b5b5b;
   font-size: 8pt; 
   font-family: tahoma; 
}
.ms-redirectControl a {
    color:#003399;
    text-decoration: none;  
    FONT-FAMILY: Tahoma, Verdana; 
}
.ms-diffchange
{
    background-color: yellow;
}
div.ms-searchsummaryTitle
{
    margin-top: 2px;
}
.ms-searchsummaryTitle a
{
    color:#003399 !important;
    font-size: 9pt !important; 
    text-decoration: none; 
    FONT-FAMILY: Tahoma, Verdana !important; 
    padding-top: 4px;
}
.ms-searchsummaryTitle a img
{
    border: 0px;
    margin-left: 3px;
    vertical-align: middle;
}
.ms-searchsummaryUrl a
{
    color: #008800 !important;
    font-size: 8pt !important; 
    text-decoration: none; 
    FONT-FAMILY: Tahoma, Verdana !important; 
    margin-right: -16px;
    padding: 0px;
    padding-right: 16px;
    padding-left: 4px;
    text-overflow: ellipsis;
}
div.ms-searchsummarydescouter
{
    padding: 0px;
    padding-bottom: 11px;
    padding-left: 4px;
    display: block;
}
div.ms-searchsummarydesc
{
    color: #595959 !important;
    font-size: 8pt !important; 
    text-decoration: none; 
    FONT-FAMILY: Tahoma, Verdana !important; 
    padding: 0px;
}
.ms-searchsummarydesc img
{
    width: 120px;
    height: 160px;
}
.ms-searchsummarydesc div
{
    position: static !important;
    float: none !important;
    height: 100% !important;
    margin: 0px !important;
}
.ms-searchsummarydesc div div
{
    position: static !important;
    padding: 0px !important;
    border: 0px !important;
}
.ms-searchsummarydesc div div embed
{
    height: 180px !important;
    width: 240px !important;
    align: 0px;
    position: static !important;
}
.ms-searchsummarydesc font
{
    color: #595959 !important;
    font-size: 8pt !important; 
    text-decoration: none; 
    FONT-FAMILY: Tahoma, Verdana !important; 
    padding-right: 2px;
}
.ms-searchsummarymain
{
    width:100%;
    padding:0px;
    margin:0px;
    border:0px;
    background-color: #Ebf3ff;
}
div.ms-searchsummarybody
{
    padding-right:16px;
}
div.ms-searchChannelTitle
{
    BACKGROUND: url(/_layouts/images/bluegradient.jpg) #73A1DD repeat-x;
    border-width: 1px;
    border-color: #CEE0F9;
    border-style: solid;
    padding:0px;
    margin:0px;
    padding-top: 2px;
    padding-bottom: 3px;
}
.ms-searchChannelTitle span
{
    color: #003399 !important;
    font-size: 10pt !important; 
    text-decoration: none; 
    FONT-FAMILY: Tahoma, Verdana !important; 
    font-weight: bold; 
    margin-right: 3px; 
}
.ms-searchChannelTitle span img
{
    border: 0px;
    margin-left: 3px;
    margin-right: 13px;
    vertical-align: middle;
}
.ms-searchsummarymorelink
{   
    background: url("/_layouts/images/gosearch.gif");
    background-repeat: no-repeat;
    background-position : top right; 
    padding: 0px;
    margin-right: 16px;
    padding-bottom: 10px;
}
.ms-searchsummarymorelink a
{
    color: #003399 !important;
    font-size: 8pt !important; 
    text-decoration: none; 
    FONT-FAMILY: Tahoma, Verdana !important; 
    font-weight: bold; 
    padding: 0px;
    padding-right: 18px;
    margin-left: 18px;
}
.ms-searchtaTitle a
{
    color:#003399 !important;
    font-size: 9pt !important; 
    text-decoration: none; 
    FONT-FAMILY: Tahoma, Verdana !important; 
    padding-top: 4px;
}
.ms-searchtaTitle a img
{
    border: 0px;
    margin-left: 3px;
    vertical-align: middle;
}
.ms-searchtaUrl a
{
    color: #008800 !important; 
    font-size: 8pt !important; 
    text-decoration: none; 
    FONT-FAMILY: Tahoma, Verdana !important; 
    padding-left: 4px;
}
div.ms-searchtadescouter
{
    padding: 0px;
    padding-bottom: 11px;
    padding-left: 4px;
    display: block;
}
div.ms-searchtadesc
{
    color: #595959 !important;
    font-size: 8pt !important; 
    text-decoration: none; 
    FONT-FAMILY: Tahoma, Verdana !important; 
    padding: 0px;
    margin-bottom: 4px;
}
.ms-searchtadesc img
{
    width: 120px;
    height: 160px;
}
.ms-searchtadesc div
{
    position: static !important;
    float: none !important;
    height: 100% !important;
    margin: 0px !important;
}
.ms-searchtadesc div div
{
    position: static !important;
    padding: 0px !important;
    border: 0px !important;
}
.ms-searchtadesc div div embed
{
    height: 180px !important;
    width: 240px !important;
    align: 0px;
    position: static !important;
}
.ms-searchtadesc font
{
    color: #595959 !important;
    font-size: 8pt !important; 
    text-decoration: none; 
    FONT-FAMILY: Tahoma, Verdana !important; 
    padding-right: 2px;
}
.ms-searchtamain
{
    width:100%;
    padding:0px;
    margin:0px;
    border-bottom: solid 1px #6F9DD9;
    margin-top: 5px;
    margin-bottom: 10px;
}
div.ms-searchtabody
{
    overflow: hidden;
}
div.ms-searchtaChannelTitle
{
    background: url("/_layouts/images/checkmark.gif");
    background-repeat: no-repeat;
    background-position : center right; 
    padding:0px;
    margin:0px;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.ms-searchtaChannelTitle span
{
    color: #525252 !important;
    font-size: 10pt !important; 
    text-decoration: none; 
    font-weight: bold; 
    FONT-FAMILY: Tahoma, Verdana !important; 
    margin-right: 3px;       
}
.ms-searchtaChannelTitle span img
{
    border: 0px;
    margin-left: 3px;
    margin-right: 16px;
}
.ms-searchtamorelink
{
    background: url("/_layouts/images/gosearch.gif");
    background-repeat: no-repeat;
    background-position : top right; 
    padding: 0px;
    padding-bottom: 10px;
}
.ms-searchtamorelink a
{
    color: #003399 !important;
    font-size: 8pt !important; 
    text-decoration: none; 
    FONT-FAMILY: Tahoma, Verdana !important; 
    font-weight: bold; 
    padding: 0px;
    padding-right: 18px;
    margin-left: 18px;
}
.srch-Metadata{
    BORDER-TOP: 0px none !important; 
    MARGIN:0px 0px 20px !important;
}
.ms-srchresultstop{
    background-color: #EBF3FF;
}
.srch-stats{
    background-color: #EBF3FF !important;
    white-space:normal !important;
}
.srch-Page{
    background-color: #EBF3FF !important;
}
.srch-HCSocDistTitle {
    background: url("/_layouts/images/checkmark.gif");
    background-repeat: no-repeat;
    background-position : top right; 
    PADDING-right: 19px;
    color:#525252 !important;
    font-family: Tahoma,Verdana !important; 
    font-size:10pt !important; 
    font-weight:bold; 
    WIDTH: 100%;
}
.psrch-HCresult
{
    padding: 4px 2px 10px 0px;
}
.srch-sort-right{
    float:none !important;
    text-align:left;
}
.psrch-OptionsOuterContainer {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
.psrch-OptionsContainer {
    border-right: #b9d6fe 1px solid;
    border-left: #b9d6fe 1px solid;
    border-top: #b9d6fe 1px solid;
    border-bottom: #b9d6fe 2px solid;
    background: #D6E8FF url("/_layouts/images/topshape.jpg") repeat-x scroll center bottom;
    padding: 3px 5px;	
}
.psrch-OptionsLayoutTable {
    border: 0;
    width: 100%;
}
.psrch-OptionsTitle {	
    white-space: nowrap;
    font-size: 8pt; 
    text-align: right;
}
.psrch-OptionsClose {
    text-align: left;
}
.psrch-OptionsClose img {
    border: 0;
    cursor: pointer !important;
}
.psrch-OptionsLabelField {
    padding: 4px 0 0 25px;
    white-space: nowrap;
    text-align: right;
    font-size: 8pt; 
}
.psrch-OptionsValueField {
    padding: 4px 0 0 7px;
    width: 100%;
    text-align: right;
}
.psrch-OptionsValueField input {	
    width: 100%;
}
.psrch-OptionsValueField div {
    width: inherit !important;
}
.srch-refineareao12
{
    padding-left:20px;
    vertical-align:top;
}
